* {
    box-sizing: border-box;
}







@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf);
}

/*  GLOBAL STYLES */

body {
    margin: 0;
    font-family: Inter;
}

.info-section {
    display: flex;
    flex-direction: column;
    padding: 0px 0 50px 0;
}

/* HEADER - NAVBAR */

header {
    display: flex;
    align-items: center;
    gap: 30px;
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 0.5px solid #e5e5e5;
    background-color: white;
    font-size: 14px;
}

.brand {
    width: 100px;
}

header nav {
    align-items: center;
}

.menu-container {
    font-weight: 500;
    display: flex;
    gap: 15px;
}

.menu-item:hover .sub-menu {
    display: flex;
    align-items: start;
}

/* SUB-MENU START */
.sub-menu {
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    padding: 5px;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 3px;
}

nav.right-space {
    width: 140px;
}

#download {
    width: 165px;
}

.sub-menu img {
    width: 30px;
    background-color: white;
    padding: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.sub-menu-item {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 10px;
    border-radius: 5px;
    width: max-content;
}

.sub-menu a {
    width: 100%;
    border-radius: 5px;
}

.sub-menu a:hover {
    background-color: #f4f4f4;
}

.sub-menu .sub-heading {
    font-weight: 550;
}

.sub-menu .heading-text {
    font-size: 13px;
    color: #7F7F7F;
}

.sub-menu-item p {
    margin: 0;
}

#extra-link {
    font-size: 12px;
    color: #7F7F7F;
    padding: 8px;
}

#extra-link:hover {
    background-color: white;
}


#extra-link span {
    text-decoration: underline;
}

#extra-link span:hover {
    color: #087fe7;
}

.menu-item {

    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
}

.menu-item:hover {
    background-color: #f4f4f4;
}

#login-nav {
    font-weight: 500;
    margin-left: auto;
    align-items: center;
    gap: 15px;
    display: flex;
}

#login-nav div {
    width: 1px;
    height: 15px;
    background: #e5e5e5;
}

.barky-knapp {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    display: inline-block;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.barky-knapp:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#hamburger {
    width: 35px;
    display: none;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
}



/* MAIN CONTENT */

p {
    line-height: 1.4;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* SECTION 1 */

#hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
}

#hero-image {
    width: 100%;
    padding: 0 25px;
}

article h1 {
    font-size: 53px;
    margin: 0;
}

article p {
    font-size: 15px;
    color: #666;
}

/* SECTION 2 */

#logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 25px 20px;
}

#logos img {
    width: 80px;
    object-fit: contain;
}

/* SECTION 3 */

.info-box {
    max-width: 47%;
}

.info-box h2 {
    margin: 0;
    font-size: 36px;
    color: #121212;
}

.big-image {
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.quote {
    font-size: 36px;
    font-weight: 650;
    color: #999999;
    text-align: center;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emoji img {
    width: 50px;
}

.emoji div p {
    margin: 0;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.name-role {
    font-size: 13px;
    font-weight: 450;
    color: #999;
}

/* LIST SECTION */

.plan-section {
    display: flex;
    flex-direction: column;
    padding: 90px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.center {
    margin: auto auto 25px auto;
    text-align: center;
    max-width: 55%;
}

#list-plan {
    width: 70%;
    margin: auto;
}

#list-plan ul {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 12.5px 25px;
    list-style: none;
    margin-top: 50px;
}

#list-plan li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    color: #7F7F7F;
    font-weight: 450;
}

#list-plan p {
    margin: 12px 0;
}

#list-item-right {
    color: black;
}

li img {
    width: 18px;
}

li#no-bot-border {
    border-style: none;
}

/* FEATURES SECTION */

.has-features {
    display: flex;
}

.features {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
}

.features div {
    display: flex;
    align-items: center;
}

.features img {
    width: 30px;
}

.features a {
    text-decoration: underline;
    font-weight: 450;
}

.features a:hover {
    text-decoration: underline;
    color: #087fe7;
}

#product {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

/* TESTIMONIALS */
/* GÖR OM TILL FLEX ÖVRE DEL */

.testimonial {
    display: flex;
    padding: 15px;
}

.testimonial div {
    flex: 1;
    align-self: center;
}

#testimonial-info {
    padding-right: 15px;
}

#badges {
    width: 100%;
    padding-left: 10px;
}

#has-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px 0 75px 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

#G2-underline {
    text-decoration: underline;
}

.stats {
    display: grid;
    color: #666666;
}

.stats p {
    margin: 0;
    justify-self: center;
}

.percent {
    font-size: 53px;
    font-weight: 650;
}

.border-left {
    border-left: 1px solid #e5e5e5;
}

/* FOOTER NAV SECTION */

footer {
    border-top: 1px solid #e5e5e5;
    margin: 0 10px;
}

.footer-content {
    max-width: 1200px;
    display: flex;
    margin: auto;
    gap: 20px;
    padding: 65px 0;
}

.footer-content p,
.footer-content a {
    font-size: 14px;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.copyright-text {
    font-size: 14px;
    margin-top: 50px;
}

.social-media {
    width: 18px;
}

.nav-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex: 1;
}

.list-header {
    font-weight: 650;
    margin: 0;
    color: #121212;
}

.nav-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    margin: 0;
}

.foot-list-item {
    color: #7F7F7F;
    font-weight: 450;
}

.foot-list-item:hover {
    text-decoration: underline;
}