:root {
    --base-font: 'Inter';

    --font-size-xxl: calc(var(--font-size-base) + 35px);
    /* Extra-extra-large */
    /* 53px */
    --font-heading-lrg: calc(var(--font-size-base) + 27px);
    /* Heading large */
    /* 45px */
    --font-heading-md: calc(var(--font-size-base) + 18px);
    /* Heading medium */
    /* 36px */
    --font-heading-sm: calc(var(--font-size-base) + 8px);
    /* Heading small */
    /* 26px */
    --font-size-lrg: calc(var(--font-size-base) + 6px);
    /* Large size */
    /* 24px */
    --font-size-base: 18px;
    /* Base */
    --font-size-s: calc(var(--font-size-base) - 3px);
    /* Small */
    /* 15px */
    --font-size-xs: calc(var(--font-size-base) - 4px);
    /* Extra small */
    /* 14px */
    --font-size-xxs: 13.5px;
    /* Extra extra small */
    --font-size-tiny: calc(var(--font-size-base) - 5px);
    /* Tiny */
    /* 13px */
    --font-size-xtiny: calc(var(--font-size-base) - 6px);
    /* Extra tiny */
    /* 12px */

    /* COLORS */
    --bg-white: white;
    --bg-black: black;
    --bg-light-grey: #f4f4f4;
    --header-main-color: #121212;

    --default-white: white;
    --default-black: black;
    --text-main-color: #7F7F7F;
    --text-main-grey: #666;
    --text-light-grey: #999;

    --btn-black: #050505;
    /* HOVER*/
    --link-hover-blue: #087fe7;

    /*BORDER*/
    --border-main: #e5e5e5;
    /* BOX-SHADOW */
    --box-dark: rgba(0, 0, 0, 0.8);
    --box-light: rgba(0, 0, 0, 0.2);
    /* OPACITY*/
    --opacity-dark: rgba(0, 0, 0, 0.8);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf);
}

/*  GLOBAL STYLES */

body {
    margin: 0;
    font-family: 'Inter';
    font-size: var(--font-size-base);
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0 50px 0;
}

/* HEADER - NAVBAR */
header {
    display: flex;
    align-items: center;
    gap: 30px;
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid var(--border-main);
    background-color: var(--bg-white);
    font-size: var(--font-size-xxs);
}

.brand {
    width: 100px;
}

header nav {
    align-items: center;
}

.menu-container {
    font-weight: 500;
    display: flex;
    gap: 5px;
}

.menu-item:hover .sub-menu {
    display: flex;
    align-items: start;
}

/* SUB-MENU START */
.sub-menu {
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    padding: 5px;
    left: 0;
    box-shadow: 0 0 5px var(--box-light);
    background: var(--bg-white);
    border-radius: 3px;
}

nav.right-space {
    width: 140px;
}

#download {
    width: 165px;
}

.sub-menu img {
    width: 30px;
    background-color: var(--bg-white);
    padding: 5px;
    border: 1px solid var(--border-main);
    border-radius: 5px;
}

.sub-menu-item {
    display: flex;
    align-items: center;
    padding: 6px;
    gap: 10px;
    border-radius: 5px;
    width: max-content;
}

.sub-menu a {
    width: 100%;
    border-radius: 5px;
}

.sub-menu a:hover {
    background-color: var(--bg-light-grey);
}

.sub-menu .sub-heading {
    font-weight: 550;
}

.sub-menu .heading-text {
    font-size: var(--font-size-xtiny);
    color: var(--text-main-color);
}

.sub-menu-item p {
    margin: 0;
}

#extra-link {
    font-size: 12px;
    color: var(--text-main-color);
    padding: 8px;
}

#extra-link:hover {
    background-color: var(--bg-white);
}


#extra-link span {
    text-decoration: underline;
}

#extra-link span:hover {
    color: var(--link-hover-blue);
}

.menu-item {
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
}

.menu-item:hover {
    background-color: var(--bg-light-grey);
}

#login-nav {
    font-weight: 500;
    margin-left: auto;
    align-items: center;
    gap: 15px;
    display: flex;
}

#login-nav div {
    width: 1px;
    height: 15px;
    background: var(--border-main);
}

.barky-knapp {
    font-size: var(--font-size-xxs);
    background-color: var(--btn-black);
    color: var(--default-white);
    border-radius: 5px;
    padding: 7px 10px;
    display: inline-block;
    box-shadow: 0 0 2px var(--box-dark);
}

.barky-knapp:hover {
    background-color: var(--opacity-dark);
}

#hamburger {
    width: 35px;
    display: none;
    margin-right: 10px;
}

#hamburger:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--default-black);
}

/* MAIN CONTENT */

p {
    line-height: 1.4;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* SECTION 1 */

#hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
}

#hero-image {
    width: 100%;
    padding-right: 50px;
}

h1 {
    font-size: var(--font-heading-lrg);
    margin: 0;
    color: var(--header-main-color);
}

article p {
    font-size: var(--font-size-s);
    color: var(--text-light-grey);
}

/* SECTION 2 */

#logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    border-bottom: 1px solid var(--border-main);
    border-top: 1px solid var(--border-main);
    padding: 25px 5px;
    column-gap: 35px;
}

#logos img {
    width: 80px;
    object-fit: contain;
}

/* SECTION 3 */

.info-box {
    max-width: 47%;
}

h2 {
    margin: 0;
    font-size: var(--font-heading-md);
    color: var(--header-main-color);
}

.big-image {
    max-width: 100%;
    box-shadow: 0 0 20px var(--box-light);
}

.quote {
    font-size: var(--font-heading-md);
    font-weight: 650;
    color: var(--text-light-grey);
    text-align: center;
    line-height: initial;
    margin: 0;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emoji img {
    width: 50px;
}

.emoji div p {
    margin: 0;
}

.name {
    font-size: 14px;
    font-weight: 650;
}

.name-role {
    font-size: var(--font-size-xtiny);
    font-weight: 400;
    color: var(--text-light-grey);
}

/* LIST SECTION */
.plan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 0;
    border-top: 1px solid var(--border-main);
    border-bottom: 1px solid var(--border-main);
}

.center {
    margin: auto;
    text-align: center;
    max-width: 55%;
}

#list-plan {
    width: 70%;
}

#list-plan ul {
    background-color: var(--bg-light-grey);
    border-radius: 5px;
    padding: 12.5px 25px;
    list-style: none;
    margin-top: 50px;
}

#list-plan li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-main);
    color: var(--text-main-color);
    font-weight: 450;
}

#list-plan p {
    margin: 12px 0;
}

#list-item-right {
    color: var(--default-black);
}

li img {
    width: 18px;
}

li#no-bot-border {
    border-style: none;
}

/* FEATURES SECTION */

.has-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.features {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 15px;
}


.features img {
    width: 30px;
}

.features a {
    text-decoration: underline;
    font-weight: 450;
}

.features a:hover {
    text-decoration: underline;
    color: var(--link-hover-blue);
}

#product {
    border-left: 1px solid var(--border-main);
    border-right: 1px solid var(--border-main);
}

/* TESTIMONIALS */
/* GÖR OM TILL FLEX ÖVRE DEL */

.testimonial {
    display: flex;
    padding: 15px;
}

.testimonial div {
    flex: 1;
    align-self: center;
}

#testimonial-info {
    padding-right: 15px;
    font-size: var(--font-size-s);
    font-weight: 450;
    color: var(--header-main-color);
}

#badges {
    width: 100%;
    padding-left: 10px;
}

#has-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px 0 75px 0;
}

h3 {
    font-size: var(--font-heading-sm);
    margin: 0;
    color: var(--header-main-color);
}

#G2-underline {
    text-decoration: underline;
}

.stats {
    display: grid;
    color: var(--text-main-grey);
}

.stats p {
    margin: 0;
    justify-self: center;
}

.percent {
    font-size: var(--font-size-xxl);
    font-weight: 650;
}

.border-left {
    border-left: 1px solid var(--border-main);
}

/* FOOTER NAV SECTION */
footer {
    border-top: 1px solid var(--border-main);
    margin: 0 10px;
}

.footer-content {
    max-width: 1200px;
    display: flex;
    margin: auto;
    gap: 20px;
    padding: 65px 0;
}

.footer-content p,
.footer-content a {
    font-size: var(--font-size-xs);
}

.social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
}

.copyright-text {
    margin-top: 50px;
}

.social-media {
    width: 18px;
}

.nav-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex: 1;
}

.list-header {
    font-weight: 650;
    margin: 0;
    color: var(--header-main-color);
}

.nav-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    margin: 0;
}

.foot-list-item {
    color: var(--text-main-color);
    font-weight: 450;
}

.foot-list-item:hover {
    text-decoration: underline;
}

/* MEDIA QUIERIES */
/* TABLET */
@media (max-width: 1080px) {

    .none {
        display: none;
    }

    #hamburger {
        display: block;
    }

    main {
        margin: 0 5%;
    }

    #hero-section {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    #hero-image {
        order: -1;
        width: 500px;
        justify-self: center;
        padding: 0;
    }

    .center {
        margin: auto;
        max-width: 65%;
    }

    .has-features {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }

    #product {
        border-style: none;
    }

    #has-stats {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .stats {
        border-style: none;
    }

    .footer-content {
        flex-direction: column;
        margin: 0 2.5%;
    }

    .social {
        width: 100%;
    }

    .nav-list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MOBIL */
@media (max-width: 600px) {

    header {
        border-style: none;
    }

    #barky-hidden {
        display: none;
    }

    #hero-image {
        width: 90%;
    }

    .info-section {
        align-items: center;
    }

    .quote {
        font-size: var(--font-heading-sm);
    }

    .info-box {
        text-align: center;
        max-width: 100%;
    }

    .center {
        width: 90%;
    }

    #list-plan {
        width: 100%;
    }

    .has-features {
        grid-template-columns: auto;
    }

    .testimonial {
        flex-direction: column;
        row-gap: 30px;
    }

    .testimonial,
    #testimonial-info,
    #badges {
        padding: 0;
    }

    #has-stats {
        grid-template-columns: auto;
    }
}