* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf);
}

/*  GLOBAL STYLES */

body {
    margin: 0;
    font-family: Inter;
}

/* HEADER - NAVBAR */

header {
    display: flex;
    align-items: center;
    gap: 30px;
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 0.5px solid black;
    background-color: white;
    font-size: 13px;
}

.brand {
    width: 100px;
}

header nav {
    font-weight: 500;
    align-items: center;

}

.menu-container {
    position: relative;

}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    left: 0;
    box-shadow: 0 0 2px gray;
    background: white;
}

.sub-menu img {
    width: 30px;
    background-color: white;
    box-shadow: 0 0 1px gray;
    padding: 5px;
    border-radius: 5px;
}

.sub-menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    position: relative;
    gap: 10px;
    border-radius: 5px;
}

.sub-menu-item:hover {
    background-color: #f4f4f4;
}

.sub-menu-item p {
    margin: 0;
}

.menu-item {
    border-radius: 5px;
    padding: 8px;
    display: inline-block;
}


.menu-item:hover {
    background-color: #f4f4f4;
}

#login-nav {
    margin-left: auto;
    align-items: center;
    gap: 15px;
    display: flex;
}

#login-nav div {
    border-right: 0.5px solid gray;
    padding-right: 15px;
}

/* ADDERA BOX-SHADOW*/
.barky-knapp {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    display: inline-block;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.barky-knapp:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    color: black;
}



/* MAIN CONTENT */

p {
    line-height: 1.4;
}

section img {
    width: 100%;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* SECTION 1 */

#hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
}

#hero-image {
    width: 100%;
    padding: 0 25px;
}

article h1 {
    font-size: 53px;
    margin: 0;
}

article p {
    font-size: 16px;
    color: #7F7F7F;
}

/* SECTION 2 */

#logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 25px 20px;
}

#logos img {
    width: 80px;
    object-fit: contain;
}

/* SECTION 3 */

.medium-heading {
    margin: 0;
    font-size: 36px;
    color: #121212;
}

.info-box {
    max-width: 50%;
}

.big-image {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.quote {
    font-size: 36px;
    font-weight: 650;
    color: #999999;
    text-align: center;
}

.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.emoji img {
    width: 50px;
}

.emoji div p {
    margin: 0;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.name-role {
    font-size: 13px;
    font-weight: 450;
    color: #999;
}